// Variables

// Colors

$primary-color: #1db954;
$primary-color-lighter: #1de065;
$primary-color-lightest: #00ff62;


$primary-text: #ffffff;
$secondary-text: #d7d7d7;
$disabled-text: #5c5c5c;

$search-bar-color: #042e01;
$search-bar-highlight-color: $primary-color;


$background-color: black;
$gradient-to: #00491a;
$primary-gradient: repeating-linear-gradient(338deg, rgba($gradient-to, 0.5), rgba($background-color, 0.5), rgba($background-color, 0.5), rgba($background-color, 0.5), rgba($gradient-to, 0.5) 200vh),
repeating-linear-gradient(245deg, rgba($gradient-to, 0.5), rgba($background-color, 0.5), rgba($background-color, 0.5), rgba($background-color, 0.5), rgba($gradient-to, 0.5) 200vh);
$primary-solid-gradient: repeating-linear-gradient(338deg, rgba($gradient-to, 1), rgba($background-color, 1), rgba($background-color, 1), rgba($background-color, 1), rgba($gradient-to, 1), rgba($gradient-to, 1), rgba($gradient-to, 1), rgba($gradient-to, 1), rgba($gradient-to, 1) 300vh);

// Measurements

$top-bar-height: 5.5rem;
$search-bar-height: 4rem;

$btn-close-color: #ffffff;

$white: #002b0e;
