@import './variables';

.primary-btn {
  color: $primary-color;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid $primary-color;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover, &:active { // good way to do hover and touch start
    background-color: $primary-color;
    color: $primary-text;
  }
}

.primary-btn.selected {
  background-color: $primary-color;
  color: $primary-text;

  &:hover, &:active {
    background-color: unset;
  }
}

.secondary-btn {
  color: $primary-color !important;
  //text-decoration: underline;
  //border-color: $primary-text;

  &:hover, &:active { // good way to do hover and touch start
    background-color: unset;
    color: unset;
  }
}

.toggle-button-container {
  position: relative;
  //height: 100%;
  width: 100%;
}

.toggle-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(gray, 0.6);
  margin: 1px 6px 1px 6px;
  padding: 0;
}

.toggle-button {
  position: absolute;
}

.active {
  height: 12px;
  width: 12px;
  background: green;
  outline: none;
}

.horizontal-menu-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.horizontal-menu-scroll-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.horizontal-menu-item {
  // height: 50vw;
  height: 100%;
}

.spotify-icon-img {
  width: unset;
  height: calc(100% - 2rem);
  aspect-ratio: 1 / 1;
}

.text-1 {
  color: $primary-text;
}

.text-2 {
  color: $secondary-text;
}

.text-green {
  color: $primary-color-lighter;
}

.disabled {
  color: $disabled-text !important;
}

.bi-small {
  font-size: 1.5rem !important;
}

.bi-big {
  font-size: 3rem !important;
}

.text-bigger {
  font-size: 1.25rem !important;
}

.text-big {
  font-size: 1.115rem !important;
}

.text-regular {
  font-size: 1rem !important;
}

.text-small {
  font-size: 0.875rem !important;
}

.text-smaller {
  font-size: 0.75rem !important;
}

.text-lighter {
  font-weight: 200;
}

.test-lightest {
  font-weight: 100;
}

.loading-container {
  height: 0.25rem;
  width: 100%;
}

.loading-bar {
  height: 100%;
  background-color: transparent;
  border: 1px solid rgba($primary-color, 0.1);
  transition: opacity 0.3s ease-in-out;
}

.progress-bar {
  background-color: $primary-color;
}

.ellipses {
  text-overflow: ellipsis;
  overflow: hidden;
}

.rest-space {
  flex: 1;
}

.transparent {
  background-color: transparent;
  color: transparent;
}

.welcome-select {
  z-index: 0;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .75);
}

.welcome-select-highlighted {
  z-index: 0;
  box-shadow: inset 0.0125em 0.0125em 0.5em white, 0 0 0 99999px rgba(0, 0, 0, .75);
}

.floated-bottom-right-corner {
  position: absolute;
  bottom: -0.1rem;
  right: -0.5rem;
  font-size: 1rem !important;
}

