@import './variables';

.deep-dive-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.just-good-scroller {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.just-good-scroll-container {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
}

.just-good-scroller-image {
  width: unset;
  height: calc(100% - 2rem);
  aspect-ratio: 1 / 1;
}

.deep-dive-creator-sort-button {
  padding: 0;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.toggle-button-container {
  position: relative;
  //height: 100%;
  width: 100%;
}

.toggle-album {
  width: 50vw;
  max-width: 27rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle-album-container {
  width: 90%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.toggle-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
}

.toggle-album-x {
  pointer-events: none;
  position: absolute;
  color: #4f5050 !important;
  font-size: 15vw !important;
  top: calc(50% - 15vw / 2);
  left: calc(50% - 15vw / 2);
}

.toggle-overlay-active {
  background: rgba(gray, 0.8);
}

.toggle-album-img {

}

.deep-diver {
  color: $primary-text;
  height: 100%;
}

.deep-dive-driver {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.deep-dive-driver-track-scroller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
  margin-top: 1rem;
}

.deep-dive-driver-img {
  width: 70vw;
  max-width: 640px; // Hard limit
  aspect-ratio: 1 / 1;
  margin-inline: 1rem;
  align-self: center;
}

@keyframes skip-next-driver {
  from { transform: translate3d(20%, 0, 0) }
  //to { transform: translate3d(calc(#{$deep-dive-driver-img-width} + #{$deep-dive-driver-margin-width}), 0, 0) }
  to { transform: translate3d(0, 0, 0) }
}

@keyframes skip-prev-driver {
  from { transform: translate3d(calc(-20%), 0, 0) }
  //to { transform: translate3d(calc(-1 * (#{$deep-dive-driver-img-width} + #{$deep-dive-driver-margin-width})), 0, 0) }
  to { transform: translate3d(0, 0, 0) }
}

.deep-dive-driver-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.deep-dive-driver-image-container.skip-next {
  animation: skip-next-driver 0.4s ease-in-out;
}

.deep-dive-driver-image-container.skip-prev {
  animation: skip-prev-driver 0.4s ease-in-out;
}

.deep-dive-driver-track-play-icon {
  position: absolute;
  font-size: 4rem;
  top: calc(50% - 3rem);
  pointer-events: none;
  transition: color 0.2s linear;
}

.deep-dive-driver-track-next-icon {
  position: absolute;
  right: 0.25rem;
  font-size: 1rem;
  top: calc(50% - 0.75rem);
  pointer-events: none;
}

.deep-dive-driver-track-prev-icon {
  position: absolute;
  left: 0.25rem;
  font-size: 1rem;
  top: calc(50% - 0.75rem);
  pointer-events: none;
}

.deep-dive-driver-track-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  margin-top: 0.5rem;
}

.deep-dive-driver-actions {
  height: 100%;
  width: 90%;
  margin: 0.25rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.deep-dive-driver-playlists {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  //margin: 1rem;
}

.configure-deep-dive-playlists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center
}

.toggle {
  color: $primary-color;

  &:active, &:hover {
    background-color: unset;
  }
}

.toggle.on {
  background-color: $primary-color;
  color: $primary-text;
}

.toggle.off {
  background-color: transparent;
  color: $primary-color;
}

.playlist-button {
  max-width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $primary-color;

  &:active, &:hover {
    background-color: unset;
  }
}

.playlist-button.on {
  background-color: $primary-color;
  color: $primary-text;
}

.playlist-button.off {
  background-color: transparent;
  color: $primary-color;
}

.deep-dive-viewer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.deep-dive-album-view {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.deep-dive-album-view-img {
  width: 30%;
  aspect-ratio: 1 / 1;
  margin-inline: 1rem;
  align-self: center;
}

.deep-dive-album-info-view {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.deep-dive-track-view {
  margin: 0.5rem;
}

.deep-dive-track-view-number {
  width: 1.75rem;
  margin-right: 0.25rem;
}

.deep-dive-track-view-play-button {
  pointer-events: painted;
}

.deep-dive-track-view-add-button {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.explicit-icon {
  margin-right: 0.3rem;
}
